header{

    background-color: black;
    padding-top:15px;
    padding-bottom:12px;
}


#header{
    text-align: center;
    color:white;
}



#navbarV{
    
    width:30%;
    padding-top:20px;
    background-color: grey;
    
}

#navbarH{
    text-align:center;
    background-color:rgb(100, 98, 98);
    font-size:16px;
 
    
}

.navh{
    display:inline;
    color:white;
    
    
}


li{
    list-style: none;

}

a:link {
    text-decoration: none;
    color:white;
}


footer{
    background:black;
    text-align:10px;
    text-align:center;
    color:white;
    
    
}

article{
    padding:20px;
   
    background-color:rgb(139, 134, 134);

}


.grid-item1 {grid-area:header;}
.grid-item2 {grid-area:navi};
.grid-item3 {grid-area:nav};
.grid-item4 {grid-area:section};
.grid-item5 {grid-area:footer};

.grid-container {

    display: grid;
    grid-template-areas:'header header header header header  header'
                        'navi navi navi navi navi navi'
                        'nav nav section section section section'  
                        'nav nav section section section section'
                        'footer footer footer footer footer footer';
    gap: 10px;
    
}

#bheader {
    color:black;
}